@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";
            body {
            margin: 0;
            padding: 0;
            font-family: "Josefin Sans", sans-serif;
            background-color: black;
            }
            body a {
            color: #ffffff;
            text-decoration: none;
            }
            .tableme {
            position: absolute;
            bottom: 10px;
            width: 100%;
            z-index: -1;
            }

            .card {
            position: absolute;
            top: 38%;
            left: 50%;
            height: 470px;
            width: 334px;
            transform: translate(-50%, -50%);
            transform-style: preserve-3d;
            perspective: 600px;
            transition: 0.5s;
            }
            .card:hover .card-front {
            transform: rotateX(-180deg);
            }
            .card:hover .card-back {
            transform: rotateX(0deg);
            }

            .card-front {
            height: 100%;
            width: 100%;
            background-image: url("/images/Logo.png");
            background-position: 50% 50%;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            backface-visibility: hidden;
            transform: rotateX(0deg);
            transition: 0.5s;
            z-index: 1;
            }

            .card-back {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            backface-visibility: hidden;
            transform: rotateX(180deg);
            transition: 0.5s;
            color: #ffffff;
            text-align: center;
            }
            .card-back h2 {
            margin: 60% auto 35% auto;
            font-size: 26px;
            }
            .card-back h2 span {
            font-size: 20px;
            }
            .invert_effect {
                        filter: invert(50%);
                        transition: 0.5s;
                    }
            .invert_effect:hover {
                        filter: invert(100%);
                    }		
            .GFG{
                border-radius: 50%;
                transition: 0.2s;
            }
            .GFG:hover{
                color: #111; 
                background: greenyellow; 
                box-shadow: 0 0 10px greenyellow; 
            }

            .spbox{
            margin: 1px;
            padding: 5px;
            border-radius: 50px;
            transition: 0.2s;
            }
            .spbox:hover{
                color: #111; 
                background: green, white; 
                box-shadow: 0 0 10px greenyellow; 
            }
            .fa{
            color: aqua;
            }

/* Back to home Circle Animetion Start*/
.cell {
	width: 10%;
    position: fixed;
    top: 30px;
    left: 5px;
    text-align: center;
    animation: fadeIn 2s;
    opacity: .8;
    z-index: 100;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: .8; }
}
.circle {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: whiteSmoke;
	box-shadow: 4px -40px 60px 5px rgb(18, 21, 24) inset;
    /*border: 4px solid #800080;*/
    outline: 2px solid rgb(18, 21, 24);
}
.circle img{
    width: 3.5rem;
}
.bounce {
	animation: bounce 2s ease infinite;
}
@keyframes bounce {
	70% {
		transform: translateY(0%);
	}
	80% {
		transform: translateY(-15%);
	}
	90% {
		transform: translateY(0%);
	}
	95% {
		transform: translateY(-7%);
	}
	97% {
		transform: translateY(0%);
	}
	99% {
		transform: translateY(-3%);
	}
	100% {
		transform: translateY(0);
	}
}
#HiddenText {
    display: none;
}
.cell:hover #HiddenText {
    display: block;
}
.cell:hover{
    opacity: 1;
}
.cell p{
    color: #fd9a2c;
    font-size: .8rem;
}
/* Back to home Circle Animetion End*/
/* footer for source code */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(5, 70, 95);
    color: white;
    text-align: center;
  }
  .footer a{
    color: #74ff3b;
  }
  /* footer for source code */