@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";
            body {
            margin: 0;
            padding: 0;
            font-family: "Josefin Sans", sans-serif;
            background-color: black;
            }
            body a {
            color: #ffffff;
            text-decoration: none;
            }
            .tableme {
            position: absolute;
            bottom: 10px;
            width: 100%;
            z-index: -1;
            }

            .card {
            position: absolute;
            top: 38%;
            left: 50%;
            height: 470px;
            width: 334px;
            transform: translate(-50%, -50%);
            transform-style: preserve-3d;
            perspective: 600px;
            transition: 0.5s;
            }
            .card:hover .card-front {
            transform: rotateX(-180deg);
            }
            .card:hover .card-back {
            transform: rotateX(0deg);
            }

            .card-front {
            height: 100%;
            width: 100%;
            background-image: url("/images/Logo.png");
            background-position: 50% 50%;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            backface-visibility: hidden;
            transform: rotateX(0deg);
            transition: 0.5s;
            z-index: 1;
            }

            .card-back {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            backface-visibility: hidden;
            transform: rotateX(180deg);
            transition: 0.5s;
            color: #ffffff;
            text-align: center;
            }
            .card-back h2 {
            margin: 60% auto 35% auto;
            font-size: 26px;
            }
            .card-back h2 span {
            font-size: 20px;
            }
            .invert_effect {
                        filter: invert(50%);
                        transition: 0.5s;
                    }
            .invert_effect:hover {
                        filter: invert(100%);
                    }		
            .GFG{
                border-radius: 50%;
                transition: 0.2s;
            }
            .GFG:hover{
                color: #111; 
                background: greenyellow; 
                box-shadow: 0 0 10px greenyellow; 
            }

            .spbox{
            margin: 1px;
            padding: 5px;
            border-radius: 50px;
            transition: 0.2s;
            }
            .spbox:hover{
                color: #111; 
                background: green, white; 
                box-shadow: 0 0 10px greenyellow; 
            }
            .fa{
            color: aqua;
            }