* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #800080;
}
.bg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #800080 0%, 
    #E90207 46%, 
    #ff8c00 100%);
}
.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.glass li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: spin 5s linear infinite;
    bottom: -150px;
}
.glass li:nth-child(1) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}
.glass li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.glass li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.glass li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.glass li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.glass li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.glass li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.glass li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.glass li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.glass li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.centerTitle {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
  }
  .centerTitle h1 {
    background-image: url(/images/ShiningLeather.png);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

/* Back to home Circle Animetion Start*/
.cell {
	width: 10%;
    position: fixed;
    top: 30px;
    left: 5px;
    text-align: center;
    animation: fadeIn 2s;
    opacity: .8;
    z-index: 100;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: .8; }
}
.circle {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: whiteSmoke;
	box-shadow: 4px -40px 60px 5px rgb(18, 21, 24) inset;
    /*border: 4px solid #800080;*/
    outline: 2px solid rgb(18, 21, 24);
}
.circle img{
    width: 3.5rem;
}
.bounce {
	animation: bounce 2s ease infinite;
}
@keyframes bounce {
	70% {
		transform: translateY(0%);
	}
	80% {
		transform: translateY(-15%);
	}
	90% {
		transform: translateY(0%);
	}
	95% {
		transform: translateY(-7%);
	}
	97% {
		transform: translateY(0%);
	}
	99% {
		transform: translateY(-3%);
	}
	100% {
		transform: translateY(0);
	}
}
#HiddenText {
    display: none;
}
.cell:hover #HiddenText {
    display: block;
}
.cell:hover{
    opacity: 1;
}
.cell p{
    color: #fd9a2c;
    font-size: .8rem;
}
/* Back to home Circle Animetion End*/