#backbtn {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    /*background-color: #509ee3;*/
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #509ee3 0%, #234463 51%, #356896 100%);
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(58, 44, 44, 0.795);
}
#backbtn img {
    width: 10px;
    filter: invert(1);
}
#backbtn:hover {
    background-image: linear-gradient(to right, #356896 0%, #234463 51%, #509ee3 100%);
}