@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
.contenthead{
    word-break: break-word;
    font-weight: 500;
    margin-top: 8px;
    /* padding: 1px; */
    border: 1px solid #fff;
    border-radius: 6px;
    /* min-width: 700px; */
    /* width: 100%;
    padding: 15px; */
}
.content{
    /* background-color:green; */
    margin-top: 0px;
    /*border: 1px solid #EBEFF3;*/
    padding: 5px 10px;
    font-size: 0.9rem;
}
.sub_contents{
    /*background-color:blue;*/
    margin-top: 1px;
    font-size: 0.9rem;
    margin: 0 0 1px 0;
    border-radius: 0 0 4px 4px;
}
.tab-pane-content li{
    margin: auto;
}
.reponderntime{
    display: flex;
    background-color:#d7d7d7;
    flex-direction: row;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    padding: 5px 10px;
    /*margin: 1px 0 8px 0;*/
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*border: 1px solid #EBEFF3;*/
}
#panel_activities{
    width:100%;
    display: flex;
    justify-content: center;
}
.nobullets {
list-style-type: none;
margin: 0;
padding: 5px;
width: 90%;
}
.reponder{
    display: flex;
    align-items: center;
}
.executor-icon{
    flex: 1;
    background-color:#fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    padding: 2px;
    text-align: center;
    margin-right: 5px;
}
body {
    position: relative;
    min-height: 100vh;
}
#panel_activities {
    /* padding-bottom: 1.1rem;    Footer height */
    padding-bottom: 0;
}
#footer {
    color: #4d4d4f;
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;            /* Footer height */
    text-align: right;
}
/* this code for description > attachments */
.attachments{
    font-size: small;
    padding: 0 0 5px 10px;
}
.docattachments{
    display: flex;
    justify-content: center;
}
.docattachments > div{
    background-color: rgba(255, 255, 255, 0.952);
    padding: 2px 10px 2px 10px;
    margin: 2px 10px 2px 10px;
    border-radius: 5px;
}
.addnote{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.addnote button{
    font-family: "Georama", sans-serif;
    width: auto;
    color: #fff;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #E31837;
}
.addnote button:hover{
    text-shadow: 0px 0px 1px #fff;
}

button:disabled,
button[disabled]{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.addnote label{
    font-size: .8rem;
    margin: 8px 8px 8px 0;
    font-weight:normal !important;
  }

/* Close and Reload button styles */

.btn{
    padding: 3px 16px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    transition-duration: 0.8s;
    text-align: center;
    align-items: baseline;
    display: inline-flex;
    font-family: "Georama", sans-serif;
}
.btnt {
    background-color: transparent !important;
    color: white !important;
    border: none;
    cursor: unset !important;
}
.btnx {
    color: #ad0511;
    border: 1px solid #ad0511;
}
.btnx:hover {
    color: white;
    background-color: #ad0511;
    border: 1px solid #ad0511;
}
.btnb {
    color: #378b05;
    border: 1px solid #378b05;
}
.btnb:hover {
    color: white;
    background-color: #6caf00;
    border: 1px solid #6caf00;
}
.btnv {
    color: #FFA500;
    border: 1px solid #FFA500;
}
.btnv:hover {
    color: white;
    background-color: #FFA500;
    border: 1px solid #FFA500;
}
.btn .btn-text {
    max-width: 0;
    display: inline-block;
    transition: max-width 0.5s ease-in-out 0.1s;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Georama", sans-serif;
}

.btn:hover .btn-text, .btn:focus .btn-text {
        max-width: 300px;
        color: #fff;
}
@media (max-width:499px) { 
    .box1{
        font-size: 15px !important;
    }
    .btn:hover .btn-text, .btn:focus .btn-text {
        max-width: 0;
    }
}
/* contain: It resizes the image to fit the given content box maintaining the content box.   */
span img {
    max-width: 100%;
    height: auto;
    }
/* FontAwesome icon color */
.icon-gray {
    color: rgb(66, 61, 61);
}
.icon-red {
    color: rgb(240, 8, 8);
    cursor: help;
}
.icon-green {
    color: rgb(52, 218, 19);
}

/* Tooltip styling */
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #4d4d4f;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    margin-top: 6px;
}
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #4d4d4f;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}