/* for all browsers */
.cssmarquee {
    height: 20px;	
    overflow: hidden;
    position: relative;
    background-color: #f2f4f7;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    }
    .marqeetitle{
        text-align:left !important; 
        max-width: auto;
        font-size: 0.9rem;
        line-height: 20px;
        color: #4d4d4f;
        background-color: #f2f4f7;
        z-index: 2;
    }
    .marqeeabout{
        text-align:right !important; 
        max-width: auto;
        font-size: 0.9rem;
        line-height: 20px;
        color: #4d4d4f;
        background-color: #f2f4f7;
        z-index: 3;
    }
    .cssmarquee p {
    font-size: 0.9rem;
    color: #4d4d4f;
    position: absolute;
    width: 90%;
    height: 100%;
    margin: 0;
    line-height: 20px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: cssmarquee 20s linear infinite;
    -webkit-animation: cssmarquee 20s linear infinite;
    animation: cssmarquee 20s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes cssmarquee {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes cssmarquee {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes cssmarquee {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
    }
    .cssmarquee p:hover{
        /* Stop animation to this element */
        -webkit-animation-play-state:paused;	
        -moz-animation-play-state:paused;
        -o-animation-play-state:paused;
        animation-play-state:paused;
        cursor: pointer;
    }